* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Animations */

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }


/* Components */

.main {
    display: grid;
    grid-template-areas: "top top top";
}


.top{
    grid-area: top;
}


.fa-angle-double-down{
    padding-left: 5px;
}

.appBar{
    animation: 1s ease-out 0s 1 fadeIn;
}

.tBar{
    justify-content: space-around;
}


.divButtons{
    padding-right: 100;
}

.burger{
    display: none !important;
}

.fa-react{
    padding-left: 5px;
}

.modal{
    display: flex;
    flex-direction: column;
    color: #fff;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400;
    border-style: 2px solid #000;
    border-radius: 4;
    box-shadow: 24;
}


/* Media Queries */

@media (max-width: 850px) {
    .button{
        display:none !important;
    }

    .burger{
        display:inline !important;
    }

    .bars{
        justify-content: right;
    }
    .tBar{
        justify-content: space-between;
    }


  }