* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Animations */

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }


/* Components */

.main {
    display: grid;
    grid-template-areas: "top top top";
}


.top{
    grid-area: top;
}


.fa-react{
    padding-left: 10px;
}

.appBar{
    animation: 1s ease-out 0s 1 fadeIn;
}

.tBar{
    justify-content: space-around;
}


.divButtons{
    padding-right: 100;
}




/* Media Queries */

@media (max-width: 850px) {
    .tBar{
        justify-content: space-around;
        display: flex;
        flex-direction: column;
        
    }
  }